extends ../layout

block content
    a(href='/bicicletas') Volver
    
    br
    br
    br

    h1 Nueva Bicicleta

    br
    br

    form(action='/bicicletas/create' method='post')
        lable(for='id') ID:
        input#id(type='text' name='id')
        br
        lable(for='color') Color:
        input#color(type='text' name='color')
        br
        lable(for='modelo') Modelo:
        input#modelo(type='text' name='modelo')
        br
        lable(for='lat') Latitud:
        input#ubicacion(type='text' name='lat')
        br
        lable(for='lng') Longitud:
        input#ubicacion(type='text' name='lng')
        br
        br
        input.btn(type='submit' value='OK')
        
